.post {
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
}
.container{
  display: flex;
  width: 50rem;
  
  justify-content: space-between;
}
.left{
  display: flex;
  flex-direction: column;

}
.right{
  margin: 2rem 2.5rem;
  display: flex;
}
.postImg {
  height: 13rem;
  width: 30rem;
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
}

.postCat {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: crimson;
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.postCat:hover{
  text-shadow: 1px 1px 10px rgb(182, 53, 79);
}

.postTitle {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
  color: #999999;
  margin-top: 15px;
}

.postDesc {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 25rem;
  line-height: 24px;
  color: #444444;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
