.write {
  padding-top: 50px;
}

.writeImg {
  margin-left: 150px;
  width: 62rem;
  box-shadow: 0px 0px 10px grey;
  border-radius: 10px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
}
.writeForm span {
  writing-mode: vertical-lr;
  position: absolute;
  top: 0rem;
  left: 15px;
  color: teal;
  font-size: 12px;
  font-family: fantasy;
  font-weight: 100;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 100%;
  color: teal;
  display: flex;
  padding: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  box-shadow: 0px 0px 10px grey;
  border-radius: 10px;
  width: 70vw;
  height: 60vh;
  font-family: inherit;
  font-size: 20px;
}

.writeSubmit {
  /* position: absolute; */
  color: white;
  bottom: 10px;
  right: 50vw;
  background-color: teal;
  padding: 10px;
  margin: 10px;
  margin-left: 45vw;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
